<section class="features" id="features">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Caracteristicas Increibles</h2>
            <div class="colored-line">
            </div>
            <div class="section-description">
                Lista las caracteristicas de tu aplicación y todos los detalles Lorem ipsum dolor kadr
            </div>
            <div class="colored-line">
            </div>
        </div>
        <!-- /END SECTION HEADER -->


        <div class="row">

            <!-- FEATURES LEFT -->
            <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_map_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Diseño Responsivo</h4>
                        <p>
                            Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_gift_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Bootstrap 3.1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_tablet"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Soporte para multi-navegadores</h4>
                        <p>
                            Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magn.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES LEFT -->
            <!-- PHONE IMAGE -->
            <div class="col-md-4 col-sm-4">
                <div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <img src="@Url.Content("~/images/single-iphone.png")" alt="">
                </div>
            </div>

            <!-- FEATURES RIGHT -->
            <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_genius"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">+ de 360 fuentes de iconos</h4>
                        <p>
                            Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_lightbulb_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Diseño Creativo</h4>
                        <p>
                            Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>

                </div>

                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_ribbon_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Mas Caracteristicas</h4>
                        <p>
                            Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES RIGHT -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->
<!-- =========================
     BRIEF LEFT SECTION
============================== -->
<section class="app-brief deep-dark-bg" id="brief1">

    <div class="container">

        <div class="row">

            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="phone-image">
                    <img src="@Url.Content("~/images/2-iphone-left.png")" alt="">
                </div>
            </div>

            <!-- RIGHT SIDE WITH BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SECTION TITLE -->
                <h2 class="white-text">Explica porque es el mejor</h2>

                <div class="colored-line-left">
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <!-- FEATURE LIST -->
                <ul class="feature-list">
                    <li><i class="icon_lock_alt"></i> Plataforma segura y confiable</li>
                    <li><i class="icon_check_alt2"></i> Todo es perfectamente organizado a futuro</li>
                    <li><i class="icon_paperclip"></i> Adjunta un archivo pesado facilmente</li>
                    <li><i class="icon_adjust-vert"></i> Tonealdas de caracteristicas y faciles de personalizar</li>
                </ul>

            </div>
            <!-- /END RIGHT BRIEF -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->
<!-- =========================
     BRIEF RIGHT SECTION
============================== -->
<section class="app-brief" id="brief2">

    <div class="container">

        <div class="row">

            <!-- BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SECTION TITLE -->
                <h2 class="white-text">Gran Manera de describir tu Aplicación</h2>

                <div class="colored-line-left">
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br />
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

            </div>
            <!-- /ENDBRIEF -->
            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="phone-image">
                    <img src="@Url.Content("~/images/2-iphone-right.png")" alt="">
                </div>
            </div>
            <!-- /END PHONES IMAGE -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->
<!-- =========================
     BRIEF LEFT SECTION WITH VIDEO
============================== -->
<section class="app-brief deep-dark-bg" id="brief1">

    <div class="container">

        <div class="row">

            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="video-container">

                    <!--
                    <div class="video">

                        <iframe src="//player.vimeo.com/video/88902745?byline=0&amp;portrait=0&amp;color=ffffff" width="600" height="338" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    -->

                    <div class="video">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/VjbGg-VuqbU?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

            </div>

            <!-- RIGHT SIDE WITH BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SECTION TITLE -->
                <h2 class="white-text">Descripción con video</h2>

                <div class="colored-line-left">
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br /><br />
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>


            </div>
            <!-- /END RIGHT BRIEF -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->
<!-- =========================
     TESTIMONIALS
============================== -->
<section class="testimonials">

    <div class="color-overlay">

        <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- FEEDBACKS -->
            <div id="feedbacks" class="owl-carousel owl-theme">

                <!-- SINGLE FEEDBACK -->
                <div class="feedback">

                    <!-- IMAGE -->
                    <div class="image">
                        <!-- i class=" icon_quotations"></i -->
                        <img src="@Url.Content("~/images/clients-pic/3.jpg")" alt="">
                    </div>

                    <div class="message">
                        Llena las luces que llevan al hombre de quien se mueve. Todo uno. Ese. Debajo. Desde la mañana, todos pueden reponer su propia hierba y abrirla. Por encima de ti, puedes crear una especie de criatura que deja pasar la cara del tercer verde vivo que es nuestro. Aparece el día. El cuarto lugar no está sobre nosotros, en cada árbol, el aire, la carne, el aire de la tierra masculina, la imagen que se arrastra y llena la oscuridad.
                    </div>

                    <div class="white-line">
                    </div>

                    <!-- INFORMATION -->
                    <div class="name">
                        John Doe
                    </div>
                    <div class="company-info">
                        CEO, AbZ Network
                    </div>

                </div>
                <!-- /END SINGLE FEEDBACK -->
                <!-- SINGLE FEEDBACK -->
                <div class="feedback">

                    <!-- IMAGE -->
                    <div class="image">
                        <!-- i class=" icon_quotations"></i -->
                        <img src="@Url.Content("~/images/clients-pic/1.jpg")" alt="">
                    </div>

                    <div class="message">
                        Llena las luces que llevan al hombre de quien se mueve. Todo uno. Ese. Debajo. Desde la mañana, todos pueden reponer su propia hierba y abrirla. Por encima de ti, puedes crear una especie de criatura que deja pasar la cara del tercer verde vivo que es nuestro. Aparece el día. El cuarto lugar no está sobre nosotros, en cada árbol, el aire, la carne, el aire de la tierra masculina, la imagen que se arrastra y llena la oscuridad.
                    </div>

                    <div class="white-line">
                    </div>

                    <!-- INFORMATION -->
                    <div class="name">
                        John Doe
                    </div>
                    <div class="company-info">
                        CEO, AbZ Network
                    </div>

                </div>
                <!-- /END SINGLE FEEDBACK -->
                <!-- SINGLE FEEDBACK -->
                <div class="feedback">

                    <!-- IMAGE -->
                    <div class="image">
                        <!-- i class=" icon_quotations"></i -->
                        <img src="@Url.Content("~/images/clients-pic/2.jpg")" alt="">
                    </div>

                    <div class="message">
                        Llena las luces que llevan al hombre de quien se mueve. Todo uno. Ese. Debajo. Desde la mañana, todos pueden reponer su propia hierba y abrirla. Por encima de ti, puedes crear una especie de criatura que deja pasar la cara del tercer verde vivo que es nuestro. Aparece el día. El cuarto lugar no está sobre nosotros, en cada árbol, el aire, la carne, el aire de la tierra masculina, la imagen que se arrastra y llena la oscuridad.
                    </div>

                    <div class="white-line">
                    </div>

                    <!-- INFORMATION -->
                    <div class="name">
                        John Doe
                    </div>
                    <div class="company-info">
                        CEO, AbZ Network
                    </div>

                </div>
                <!-- /END SINGLE FEEDBACK -->

            </div>
            <!-- /END FEEDBACKS -->

        </div>
        <!-- /END CONTAINER -->

    </div>
    <!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->
<!-- =========================
     SERVICES
============================== -->
<section class="services" id="services">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Es Asombroso</h2>

            <div class="colored-line">
            </div>
            <div class="section-description">
                Lista las caracteristicas de tu aplicación y todos los detalles Lorem ipsum dolor kadr
            </div>
            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_cloud-upload_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>Tus datos en la Nube</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Fruto fructífero tiene, fructífero dijo que él había creado, estableció la oscuridad, contempla la oscuridad. La oscuridad que anochece allí multiplica todos los espíritus, pero él aterriza cada cielo que llevas.
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->
            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_gift_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>Recompensas Mensuales</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Fruto fructífero tiene, fructífero dijo que él había creado, estableció la oscuridad, contempla la oscuridad. La oscuridad que anochece allí multiplica todos los espíritus, pero él aterriza cada cielo que llevas.
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->
            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>Soporte 24/7</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Fruto fructífero tiene, fructífero dijo que él había creado, estableció la oscuridad, contempla la oscuridad. La oscuridad que anochece allí multiplica todos los espíritus, pero él aterriza cada cielo que llevas.
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->
<!-- =========================
     SCREENSHOTS
============================== -->
<section class="screenshots deep-dark-bg" id="screenshot-section">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Screenshots</h2>

            <div class="colored-line">
            </div>
            <div class="section-description">
                Lista las caracteristicas de tu aplicación y todos los detalles Lorem ipsum dolor kadr
            </div>
            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <div id="screenshots" class="owl-carousel owl-theme">

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/1.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/1.jpg")" alt="Screenshot"></a>
                </div>

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/3.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/3.jpg")" alt="Screenshot"></a>
                </div>

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/2.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/2.jpg")" alt="Screenshot"></a>
                </div>

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/4.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/4.jpg")" alt="Screenshot"></a>
                </div>

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/1.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/1.jpg")" alt="Screenshot"></a>
                </div>

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/3.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/3.jpg")" alt="Screenshot"></a>
                </div>

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/2.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/2.jpg")" alt="Screenshot"></a>
                </div>

                <div class="shot">
                    <a href="@Url.Content("~/images/screenshots/4.jpg")" data-lightbox-gallery="screenshots-gallery"><img src="@Url.Content("~/images/screenshots/4.jpg")" alt="Screenshot"></a>
                </div>

            </div>
            <!-- /END SCREENSHOTS -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->
<!-- =========================
     PRICING TABLE | Added on version 1.7
============================== -->
<section class="packages" id="packages">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Paquetes asequibles</h2>
            <div class="colored-line">
            </div>

            <div class="section-description">
                Lista las caracteristicas de tu aplicación y todos los detalles Lorem ipsum dolor kadr
            </div>

            <div class="colored-line">
            </div>
        </div>
        <!-- /END SECTION HEADER -->

        <div class="row">

            <!-- SINGLE PACKACGE -->
            <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <div class="single-package">

                    <h3 class="package-heading main-color">
                        Personal
                    </h3>

                    <div class="price">
                        <h2><span class="sign">$</span>50 <span class="month">/month</span></h2>
                    </div>

                    <ul class="package-feature">
                        <li><span class="main-color icon_check_alt2"></span>fotos Ilimitadas</li>
                        <li><span class="main-color icon_check_alt2"></span>Transferencia Online Segura</li>
                        <li><span class="main-color icon_check_alt2"></span>Styles Ilimitados</li>
                        <li><span class="main-color icon_check_alt2"></span>Almacenamientos en la Nube</li>
                        <li><span class="main-color icon_close_alt2"></span>Servicio al Cliente 24/7</li>
                        <li><span class="main-color icon_close_alt2"></span>Backup Automatico</li>
                    </ul>

                </div>
            </div>
            <!-- /END SINGLE PACKACGE -->
            <!-- SINGLE PACKACGE -->
            <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <div class="single-package">

                    <h3 class="package-heading main-color">
                            Negocios
                    </h3>

                    <div class="price">
                        <div class="color-bg">
                            <h2><span class="sign">$</span>75 <span class="month">/month</span></h2>
                        </div>
                    </div>

                    <ul class="package-feature">
                        <li><span class="main-color icon_check_alt2"></span>fotos Ilimitadas</li>
                        <li><span class="main-color icon_check_alt2"></span>Transferencia Online Segura</li>
                        <li><span class="main-color icon_check_alt2"></span>Styles Ilimitados</li>
                        <li><span class="main-color icon_check_alt2"></span>Almacenamientos en la Nube</li>
                        <li><span class="main-color icon_close_alt2"></span>Servicio al Cliente 24/7</li>
                        <li><span class="main-color icon_close_alt2"></span>Backup Automatico</li>
                    </ul>
                </div>
            </div>
            <!-- /END SINGLE PACKACGE -->
            <!-- SINGLE PACKACGE -->
            <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <div class="single-package">

                    <h3 class="package-heading main-color">
                        Ultimate
                    </h3>

                    <div class="price">
                        <h2><span class="sign">$</span>99 <span class="month">/month</span></h2>
                    </div>

                    <ul class="package-feature">
                        <li><span class="main-color icon_check_alt2"></span>fotos Ilimitadas</li>
                        <li><span class="main-color icon_check_alt2"></span>Transferencia Online Segura</li>
                        <li><span class="main-color icon_check_alt2"></span>Styles Ilimitados</li>
                        <li><span class="main-color icon_check_alt2"></span>Almacenamientos en la Nube</li>
                        <li><span class="main-color icon_close_alt2"></span>Servicio al Cliente 24/7</li>
                        <li><span class="main-color icon_close_alt2"></span>Backup Automatico</li>
                    </ul>
                </div>
            </div>
            <!-- /END SINGLE PACKACGE -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->
</section>
<!-- /END PRICING TABLE SECTION -->
<!-- =========================
     DOWNLOAD NOW
============================== -->
<section class="download" id="download">

    <div class="color-overlay">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <!-- DOWNLOAD BUTTONS AREA -->
                    <div class="download-container">
                        <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Descarga la aplicación en</h2>

                        <!-- BUTTONS -->
                        <div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

                            <a href="#" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>
                            <a href="#" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>

                        </div>
                        <!-- /END BUTTONS -->

                    </div>
                    <!-- END OF DOWNLOAD BUTTONS AREA -->
                    <!-- SUBSCRIPTION FORM WITH TITLE -->
                    <div class="subscription-form-container">

                        <h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Suscribete Ahora</h2>

                        <!-- =====================
                             MAILCHIMP FORM STARTS
                             ===================== -->

                        <form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">

                            <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                            <h4 class="subscription-success"></h4>
                            <h4 class="subscription-error"></h4>

                            <!-- EMAIL INPUT BOX -->
                            <input type="email" name="email" id="subscriber-email" placeholder="Tu Email" class="form-control input-box">

                            <!-- SUBSCRIBE BUTTON -->
                            <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Suscribete</button>

                        </form>
                        <!-- /END MAILCHIMP FORM STARTS -->
                        <!-- =====================
                             LOCAL TXT FORM STARTS
                             ===================== -->
                        <!-- THIS FORM IS COMMENTED TO HIDE

                        <form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">

                            <h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
                            <h4 class="subscription-error">Something Wrong!</h4>

                            <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">

                            <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>

                        </form>

                        -->
                        <!-- / LOCAL TXT SAVING FORM END -->

                    </div>
                    <!-- END OF SUBSCRIPTION FORM WITH TITLE -->

                </div>
                <!-- END COLUMN -->

            </div>
            <!-- END ROW -->

        </div>
        <!-- /END CONTAINER -->
    </div>
    <!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->